/* Basic styling for the graph container */
#cy {
    width: 800px; /* 800px */
    height: 600px; /* 600px */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
}