html, body {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bigContainer {
    width: 100%;
    height: 450px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.displays {
    display: flex;
    width: 50%;
    height: 100%;
    /* margin: 20px auto; */
}

.displays div {
    border: 1px solid black;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.top-box {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box {
    height: 80%;
}

.centered {
    text-align: center;
}

#explanationDisplay {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#explanationDisplay1 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#navbar-container {
    width: 100%;
}

#title {
    text-align: center;
    width: 100%;
}

#algo-desc {
    text-align: center;
    width: 80%;
}

.media-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 2px;
}

/* Basic styling for the graph container */
/* #cy {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
} */

#cy {
    /* width: 60vw; */
    width: 50%;
    /* height: 60vh; */
    height: 100%;
    /* margin: 20px auto; */
    border: 1px solid black;
}

#cy1 {
    /* width: 60vw; */
    width: 50%;
    /* height: 60vh; */
    height: 100%;
    /* margin: 20px auto; */
    border: 1px solid black;
}

#second-one {
    width: 80%;
    margin: 40px;
}