html, body {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#minCostDisplay {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-container {
    width: 100%;
}

#title {
    text-align: center;
    width: 100%;
}

.media-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 2px;
}

/* Basic styling for the graph container */
/* #cy {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
} */

#cy {
    /* width: 60vw; */
    width: 80%;
    /* height: 60vh; */
    /* height: 100%; */
    height: 40vh;
    /* margin: 20px auto; */
    border: 1px solid black;
}

.ant-boxes {
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 40vh;
}

.half-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.ant-box {
    height: 50%;
    width: 100%;
    border: 1px solid black;
}