/* Basic styling for the graph container */
#cy {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
}

.add-remove-btns {
    width: 50px;
    height: 30px;
    margin: 5px;
}

#addEdgeBtn {
    width: 80px;
    height: 30px;
    margin: 5px;
}