/* Basic styling for the graph container */
#cy {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
}

#edgeQueueDisplay {
    height: 400px;
    max-width: 200px;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid black;
}